.ra-header{
    display: flex;
    padding:0 16px;
    background: #001529;
    .ra-logo {flex:1;height: 64px;
        img {
            max-height: 80%;
        }
    }
    .helpBtn,.bellMess{
        .anticon-bell,.anticon-question-circle{padding: 15px;font-size: 16px;color: #fff;}
        .ant-badge,.anticon-question-circle{margin-top: 12px;}
    }
    .personalCenter{cursor:pointer;padding: 0 12px;
        .ant-dropdown-link{color:#fff;
           
        }
    }
}